<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generic View</title>
    <style>
        body {
            width: 100%;
        }
        ul {
            justify-content: space-between;
            text-align: center;
            width: 50%;
            display: flex;
            gap: 2rem;
        }
         li { 
            list-style-type: none;
            font-size: 2rem;
         }
    </style>
</head>
<body>
    <h2>Publishers</h2>
    <h1>{{ object.title }}</h1>

    <!-- 
    {% for publisher in publisher_list %}

    <ul>
            <li>{{ publisher.name }}</li>
            <li>{{ publisher.city }}</li>
        
    </ul>
    {% endfor %}
    {% for author in author_list %}

    <ul>
            <li>{{ author.name }}</li>
            <li>{{ author.email }}</li>
        
    </ul>
    {% endfor %} -->
</body>
</html>

